<div class="Show__container">
  <% @equipments.group_by(&:category).each do |category, category_equipments| %>
      <h3 class='category-title'><%= category %></h3>
      <div class='category-list'>
        <% category_equipments.each do |equipment| %>
          <div class='list'>
            <%= link_to equipment_path(equipment.id), class: 'item-link' do %>
              <div class='item-info'>
                <div>
                  装置名：<%= equipment.equipment_name %><br>
                  利用料金：<%= equipment.price %>円／時間<br>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
  <% end %>
</div>