<div class="Show__container">
  <div class="contents row">
    <% if @equipment.present? %>
      <p><%= @equipment.equipment_name %></p>
      <p><%= @equipment.price %></p>
    <% else %>
      <p>Equipment not found</p>
    <% end %>
  </div>
</div>
