<%# CSS・・・assets/stylesheets/header.css %>

<div class='header_top'>
  <div class='header_nav'>

      <% if user_signed_in? %>
        <div><%= link_to "#{current_user.name_sei} #{current_user.name_mei}", "#", class: "user-name1"  %></div>
        <div><%= link_to 'ログアウト', destroy_user_session_path, data: { turbo_method: :delete }, method: :delete, class: "logout1"  %></div>
      <% else %>
        <div><%= link_to 'ログイン', new_user_session_path, class: "login1" %></div>
        <div><%= link_to '新規登録', new_user_registration_path, class: "sign-up1" %></div>
      <% end %>

  </div>
</div>
