<%# CSS・・・assets/stylesheets/list.css %>

<div class='text-title'>現在使用中の機器</div>

<div class='list-all'>
  <% count = 0 %>
  <% (@equipments || []).group_by(&:category).each do |category, category_equipments| %>
      <% category_equipments.each do |equipment| %>
        <% latest_start_finish_time = equipment.start_finish_times.order(created_at: :desc).first %>
            <% if latest_start_finish_time && latest_start_finish_time.condition == 1 %>
              <div class='list-nav'>
                <div class='list-info'>
                  機器：<%= latest_start_finish_time.equipment.equipment_name %><br>
                  利用者：<%= latest_start_finish_time.user.name_sei %><br>
                  内線番号：<%= latest_start_finish_time.user.extention_number %><br>
                  <% count += 1 %>
                </div>
              </div>
            <% end %>
      <% end %>
  <% end %>

  <% if count == 0 %>
    <div class='list-text-nav'>
    <div class='list-text'>現在使用中の機器はありません。</div>
    </div>
  <% end %>

</div>




