<%# CSS・・・assets/stylesheets/main.css %>
＜機器操作＞
<div class='page-main'>
  <div class='main-nav'>
    <ul class='main_area'>
      <li><%= link_to '機器選択', "#", class: "text" %></li>
      <li><%= link_to '一覧表作成', "#", class: "text" %></li>
    </ul>
  </div>
</div>