<%# CSS・・・assets/stylesheets/main.css %>
＜操作＞
<div class='main_top'>
  <div class='main_nav'>
    <div>
      <%= link_to '機器選択', "#", class: "rounded-button1" %>
    </div>
    <div>
      <%= link_to '一覧表作成', "#", class: "rounded-button2" %>
    </div>
  </div>
</div>
<br>
<br>
＜現在使用中の機器＞
    <div>
      <div>
      </div>
    </div>

