<%# CSS・・・assets/stylesheets/main.css %>

<div class='main_top'>
  <div class='main_nav'>
    <div>
      <%= link_to '機器選択', equipments_path, class: "rounded-button1" %>
    </div>
    <div>
      <%= link_to '一覧表作成', start_finish_times_path, class: "rounded-button2" %>
    </div>
  </div>
</div>
<br>

