* {
  box-sizing: border-box;
}

.list-all {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* 各アイテムのスタイル */
.list-nav {
  margin: 0 1.5%; /* アイテム間のマージン */
  box-sizing: border-box;
  border: 1px solid #ccc;
  padding: 0 5px;
  border-radius: 20px; 
  margin-bottom: 10px;
  background-color: lightgray;
}

/* 各アイテム内のスタイル */
.list-info {
  margin: 5px 10px 10px;
  text-decoration: none; /* アンダーラインをなくす */
  color: black; /* テキスト色を黒に設定 */
}
