/* カテゴリータイトルのスタイル */
.category-title {
  font-size: 1.5em;
  margin-bottom: 5px;
  margin-top: 30px;
}

/* カテゴリーごとのリストスタイル */
.category-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* 各アイテムのスタイル */
.list {
  flex: 0 0 20%; /* カテゴリーリスト内での横幅を調整 */
  margin: 0 1.5%; /* アイテム間のマージン */
  box-sizing: border-box;
  border: 1px solid #ccc;
  padding: 10px;
}

/* 各アイテム内のスタイル */
.item-info {
  margin-top: 10px;
}

.item-name {
  font-size: 1.2em;
}

.item-price {
  font-weight: bold;
}

.star-btn {
  margin-top: 10px;
}
