* {
  box-sizing: border-box;
}

.top-page {
  width: 100vw;
  padding: 2vh 15vw;
  display: flex;
  background-color: white;
}

.nav {
  font-size: 18px;
  display: flex;
  justify-content: space-around;
  margin: 0 auto
  width: 100%;
  padding: 1vh 0;
}

.lists {
  display: flex;
  justify-content: space-around;
  list-style: none;
  align-items: flex-end;
}

.user-name {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
  font-weight: bold;
}

.logout {
  text-decoration: none;
  color: #333333;
}

.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: #333333;
}

.sign-up {
  text-decoration: none;
  color: #333333;
}