* {
  box-sizing: border-box;
}

.page-main {
  width: 100vw;
  padding: 2vh 15vw;
  display: flex;
}

.main_nav {
  font-size: 18px;
  display: flex;
  justify-content: space-around;
  margin: 0 auto
  width: 100%;
  padding: 1vh 0;
}

.main_area {
  display: flex;
  justify-content: space-around;
  list-style: none;
  align-items: flex-end;
}

.text {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: #333333;
}
